* {
  margin: auto;
}

body{
  min-width: 477px;
}

.menuDiv{
  margin-top: 10px;
  margin-bottom: 12px;
  width: 477px;
  font-variant: small-caps;

}

.titleSectionDiv{
  height: 50%;
  text-align: center;
  font-size: 150%;
  margin-bottom: 10px;
}

.stateSectionDiv{
  height: 27px;
  text-align: center;
  font-size: 110%;
}

.pointsDiv{
  width: 50%;
  float: left;
  margin-top: 4px;
}

.newGameDiv{
  width: 130px;
  height: 20px;
  float: left;
  margin-left: 11.5%;
  padding-bottom: 3px;
  border: 2px solid lightgray;
}

.board {
  width: 477px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 6px;
  background-color: lightgray;
  display: inline-block;
  margin-bottom: -3px;
  margin-right: 1px;
}

.bubble {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 5px;
}

.preview{
  width: 159px;
  margin-top: 20px;
}
